*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}
.main{
    position:relative;
}
.list{
    padding:20px;
    list-style: none;
    display:flex;
    justify-content: space-between;
}
.para{
    padding:30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color:#cdcdcd;
    font-weight: bolder;
}
.brand{
    display:grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}
.image{
    background-image: url(girl.jpg);
    margin-top: -20%;
    height: 650px;
    width: 650px;
    background-size: contain;
    background-repeat: no-repeat;
    
}
.br{
    position:absolute;
    margin-top: -50px;
    word-spacing: 25px;
    font-size: 130px;
    font-weight: bold;
    margin-left:200px;
    color:red;
}
.svg{
    margin-left:30%;
}
.marketing{
    margin-top:40px;
    margin-left:15%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 90px;
    line-height: 70px;
}
.take{
    margin-top:5%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left:160px;
    font-weight:bold;
}
.creation{
    margin-top:10%;
    margin-left:160px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-stretch: wider;
    font-weight: bold;
}
.universe{
    color:red;
}
.video{
    margin-top: 2%;
    line-height: 100%;
}
.social{
    color:#3f3f3f;
}
.design{
    color:#cdcdcd;
}
.playbutton{
    margin-top: 30%;
}
.all{
    position:absolute;
    margin-left: -70%;
    transform: rotate(-90deg);
    margin-top: -20%;
}